<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="A website for risk assesment of investing opportunities."/>
    <title>Tessera Sigma Dashboard</title>
    <!-- pure css files -->
    <link rel="stylesheet" href="..\static\css\pure-min.css" th:href="@{css/pure-min.css}"/>
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="..\static\css\side-menu.css" th:href="@{css/side-menu.css}"/>
        <!--<![endif]-->
	<!-- w3 css -->
	<link rel ="stylesheet" href="../static/css/w3.css" th:href="@{css/w3.css}"/>
</head>
<body>






<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">Dashboard</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Technische Daten</a></li>

                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Makro Daten</a>
                </li>

                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Musterfonds</a></li>
            </ul>
        </div>
    </div>

	
	
	
<!-- Actual Body begins-->

<div id="main">

	<!-- Button bar on top -->
	<div class="w3-bar w3-black">
		<button class="w3-bar-item w3-button" onclick="openCity('de')">Deutschland</button>
		<button class="w3-bar-item w3-button" onclick="openCity('usa')">USA</button>
		<button class="w3-bar-item w3-button" onclick="openCity('gb')">England</button>
	</div>
	
	<!-- Tabs where the content and magic happens -->
	
	<div id="de" class="city">
	
		<!-- Header -->
		<div class="header">
			<h1>
			
				Wirtschaftsdaten
			
			</h1>
		</div>
		
	
	
		<!-- Content -->
		<div class="content">
			
			<br>
			</br>
			<div class="pure-g">
			
			
				<div class="pure-u-2-5">
				
					<h2>Indikator</h2>
				
				</div>
				
				<div class="pure-u-2-5">
				
					<h2>Wert</h2>
				
				</div>
			
			</div>
			
			<!-- Content body -->
			
			<div class="pure-g">
				<div class="pure-u-2-5">
					Inflation
				</div>
			
				<div class="pure-u-2-5">
					1.15%
				</div>
				
				<div class="pure-u-1-5">
					<button class="w3-bar-item w3-button" onclick="openCity('de')">more...</button>
				</div>
			</div>
			
			<div class="pure-g">
				<div class="pure-u-2-5">
					GDP
					
					
					<div id="gdp1">
						<canvas id="myChart" width="400" height="400"></canvas>
					</div>	
					
				</div>
			
				<div class="pure-u-2-5">
					1 234 Mrd. €
					<div id="gdp2">
						asgq
					</div>
					
					
				</div>
				
				<div class="pure-u-1-5">
					<button class="w3-bar-item w3-button" onclick="toggleElements('gdp')">more...</button>
					
					<div id="gdp3">
						asts
					</div>
					
					
					
				</div>
			</div>
			
			<div class="pure-g">
				<div class="pure-u-2-5">
					Leitzins
				</div>
			
				<div class="pure-u-2-5">
					0.00 %
				</div>
				
				<div class="pure-u-1-5">
					<button class="w3-bar-item w3-button" onclick="openCity('de')">more...</button>
				</div>
			</div>
			
			
		</div>
	
	
	</div>

	<div id="usa" class="city" style="display:none">
		<div class="content">

			<p> Blabla2 </p>
		
		</div>
	</div>

	<div id="gb" class="city" style="display:none">
		<div class="content">

			<p> Blabla3 </p>
		
		</div>
	</div>

	
	
	

        
</div>
</div>



<!-- pure css script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="..\static/js/ui.js" th:src="@{js/ui.js}"></script>
<script>

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
            label: "gdp",
            backgroundColor: 'rgb(66, 220, 163)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45],
        }]
    },

    // Configuration options go here
    options: {}
});










</script>

</body>
</html>
