<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="A website for risk assesment of investing opportunities."/>
    <title>Tessera Sigma Dashboard</title>
    <!-- pure css files -->
    <link rel="stylesheet" href="..\static\css\pure-min.css" th:href="@{css/pure-min.css}"/>
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="..\static\css\side-menu.css" th:href="@{css/side-menu.css}"/>
        <!--<![endif]-->
	<!-- w3 css -->
	<link rel ="stylesheet" href="../static/css/w3.css" th:href="@{css/w3.css}"/>
	<!-- adminLTE css -->
	<link rel="stylesheet" href="../static/css/AdminLTE.min.css" th:href="@{css/AdminLTE.min.css}"/>
	<link rel="stylesheet" href="../static/css/adminlte.font.min.css" th:href="@{css/adminlte.font.min.css}"/>
</head>
<body>






<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">Dashboard</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Technische Daten</a></li>

                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Makro Daten</a>
                </li>

                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Musterfonds</a></li>
            </ul>
        </div>
    </div>

	
	
	
<!-- Actual Body begins-->

<div id="main">

	<!-- Button bar on top -->
	<div class="w3-bar w3-black">
		<button class="w3-bar-item w3-button" onclick="openCity('de')">Deutschland</button>
		<button class="w3-bar-item w3-button" onclick="openCity('usa')">USA</button>
		<button class="w3-bar-item w3-button" onclick="openCity('gb')">England</button>
	</div>
	
	<!-- Tabs where the content and magic happens -->
	
	<div id="de" class="city">
	
		<!-- Header -->
		<div class="header">
			<h1>
			
				Wirtschaftsdaten
			
			</h1>
		</div>
		
	
	
		<!-- Content -->
		<div class="content">
			
			<br>
			</br>
			
			
			<div class="pure-g">
				<div class="pure-u-2-5">
					<!-- First Box-->
					<div class="box box-warning box-solid">
						<!-- Box header -->
						<div class="box-header with-border">
							<h3 class="box-title">Makrodaten</h3>
							<div class="box-tools pull-right">
								<button class="btn btn-box-tool">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<!-- Box body -->
						<div class="box-body">
							
							<table class="pure-table pure-table-horizontal pure-table-fitted" id="tst">
								<tbody>
									<tr>
										<td>Bruttoinlandsprodukt</td>
										<td>1 300 Mill. €</td>
										<td>+</td>
									</tr>
									<tr>
										<td>Inflation</td>
										<td>1.60 %</td>
										<td>+</td>
									</tr>
									<tr>
										<td>Sentinement Index</td>
										<td>17.04</td>
										<td>-</td>
									</tr>
									<tr>
										<td>Arbeitslosigkeit</td>
										<td>4.56 %</td>
										<td>-</td>
									</tr>
									<tr>
										<td>Leitzins</td>
										<td>0.00 %</td>
										<td>-</td>
									</tr>
								</tbody>
								
							</table>
							
						</div>
					</div>
					
					<!-- Sencond Box -->
					<div class="box box-warning box-solid">
						<!-- Box header -->
						<div class="box-header with-border">
							<h3 class="box-title">Technische Daten</h3>
							<div class="box-tools pull-right">
								<button class="btn btn-box-tool">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
						<!-- Box body -->
						<div class="box-body">
							
							<table class="pure-table pure-table-horizontal pure-table-fitted">
								<tbody>
									<tr>
										<td>Moving Average 200</td>
										<td>13 120.86</td>
									</tr>
									<tr>
										<td>Moving Average 38</td>
										<td>12 890.76</td>
									</tr>
									<tr>
										<td>12 Monate Volatilität</td>
										<td>8.4 %</td>
									</tr>
									<tr>
										<td>YTD Performance</td>
										<td>17.8 %</td>
									</tr>
									<tr>
										<td>12 Monate Performance</td>
										<td>18.4 %</td>
									</tr>
								</tbody>
								
							</table>
							
						</div>
					</div>		
					
					
				</div>
				
				<div class="pure-u-1-24">
				</div>
				
				
				
				<div class="pure-u-13-24">
					<div class="box box-primary collapsed-box">
						<div class="box-header with-border">
							<h3 class="box-title">Leitzins</h3>
							<div class="box-tools pull-right">
								<button class="btn btn-box-tool">
									<i class="fa fa-plus"></i>
								</button>
								
								<button class="btn btn-box-tool">
									<i class="fa fa-times"></i>
								</button>
							</div>
							
						</div>
						<!-- Box body -->
						<div class="box-body">
						
							
							<div class="pure-g">
								<!--  CHART -->
								<div class="pure-u-5-8">
									<canvas id="myChart" class="chart-box"></canvas>
								</div>
								
								<div class="pure-u-1-24">
								</div>
								
								<!--  TABLE -->
								<div class="pure-u-1-3">
									<table class="pure-table-fitted pure-table pure-table-horizontal table-box">
										<tbody>
											<tr>
												<td>Allzeithoch</td>
												<td>4.25 %</td>
											</tr>
											<tr>
												<td>Änderung</td>
												<td>-0.25 %</td>
											</tr>
											<tr>
												<td>Trend</td>
												<td>-</td>
											</tr>
											<tr>
												<td>Download</td>
												<td>TODO</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
					
					
					<div class="box box-primary collapsed-box">
						<div class="box-header with-border">
							<h3 class="box-title">Arbeitslosigkeit</h3>
							<div class="box-tools pull-right">
								<button class="btn btn-box-tool">
									<i class="fa fa-plus"></i>
								</button>
								
								<button class="btn btn-box-tool">
									<i class="fa fa-times"></i>
								</button>
							</div>
							
						</div>
						<!-- Box body -->
						<div class="box-body">
						
							
							<div class="pure-g">
								<!--  CHART -->
								<div class="pure-u-5-8">
									<canvas id="myChart2" class="chart-box"></canvas>
								</div>
								
								<div class="pure-u-1-24">
								</div>
								
								<!--  TABLE -->
								<div class="pure-u-1-3">
									<table class="pure-table-fitted pure-table pure-table-horizontal table-box">
										<tbody>
											<tr>
												<td>Allzeithoch</td>
												<td>12.5 %</td>
											</tr>
											<tr>
												<td>Änderung</td>
												<td>-0.40 %</td>
											</tr>
											<tr>
												<td>Trend</td>
												<td>-</td>
											</tr>
											<tr>
												<td>Download</td>
												<td>TODO</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			
			
			
			
			</div>
		</div>
	</div>


	<div id="usa" class="city" style="display:none">
		<div class="content">
			akask
		</div>
	</div>

	<div id="gb" class="city" style="display:none">
		<div class="content">

			<p> Blabla3 </p>
		
		</div>
	</div>

	
	
	

        
</div>
</div>



<!-- pure css script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../static/js/adminlte.js" th:src="@{js/adminlte.js}"></script>
<script src="..\static/js/ui.js" th:src="@{js/ui.js}"></script>
<script src="../static/js/custom_charts.js" th:src="@{js/custom_charts.js}"></script>

</body>
</html>
